In [5]:
#Dependencies
import pandas as pd

In [6]:
#Dictionary to Dataframe

data = {'Movies': ["Avatar", "Avengers: Endgame", "Titanic", "Avatar: The Way of Water", "Star Wars Ep. VII: The Force Awakens", "Avengers: Infinity War", "Spider-Man: No Way Home", "Jurassic World", "The Lion King", "The Avengers"],
        'Worldwide Box Office (in million)': [2.90, 2.80, 2.21, 2.18, 2.06, 2.05, 1.91, 1.67, 1.65, 1.51]}

df = pd.DataFrame.from_dict(data)
df

                                 Movies  Worldwide Box Office (in million)
0                                Avatar                               2.90
1                     Avengers: Endgame                               2.80
2                               Titanic                               2.21
3              Avatar: The Way of Water                               2.18
4  Star Wars Ep. VII: The Force Awakens                               2.06
5                Avengers: Infinity War                               2.05
6               Spider-Man: No Way Home                               1.91
7                        Jurassic World                               1.67
8                         The Lion King                               1.65
9                          The Avengers                               1.51

In [7]:
df.to_csv("top_10_box_office.csv", sep=',')